// =============================================================================
// INDEX
// =============================================================================





// VARIABLE OVERRIDES
// =============================================================================

// Enable Features

$bc-o-layout-enable-center: 				true;
$bc-o-layout-enable-center-horizontal: 		true;
$bc-o-layout-enable-center-vertical: 		true;
$bc-o-layout-enable-vertical: 				true;
$bc-o-layout-enable-gutter: 				true;
$bc-o-layout-enable-gutter-tiny: 			true;
$bc-o-layout-enable-gutter-small: 			true;
$bc-o-layout-enable-gutter-large: 			true;
$bc-o-layout-enable-gutter-huge: 			true;
$bc-o-layout-enable-gutter-vertical: 		true;
$bc-o-layout-enable-gutter-vertical-tiny: 	true;
$bc-o-layout-enable-gutter-vertical-small: 	true;
$bc-o-layout-enable-gutter-vertical-large: 	true;
$bc-o-layout-enable-gutter-vertical-huge: 	true;
$bc-o-layout-enable-ie-cross-browser: 		true;
$bc-o-layout-enable-responsive-classes: 	true;

// Spacing

$bc-o-layout-spacing-unit: 					$bc-s-spacing-spacing-unit;





// BASE
// =============================================================================

@import "bettercss-objects-layout/index";